In [9]:
import numpy as np
import pandas as pd

df = pd.read_csv('datasets/ml-latest-small/ratings.csv')
df.columns = ['user_id', 'movie_id', 'rating', 'timestamp']

user_ratings = df.pivot(index='movie_id', columns='user_id', values='rating')

display(user_ratings.head())
display(user_ratings.index)

user_id,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movie_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,4.0,NaN,...,NaN,4.0,3.5,NaN,NaN,NaN,NaN,NaN,4.0,5.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN

Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            161084, 161155, 161594, 161830, 161918, 161944, 162376, 162542,
            162672, 163949],
           dtype='int64', name='movie_id', length=9066)

In [ ]:
from regression_model import normalized_fit

x, theta, means = normalized_fit(user_ratings.values, 2000, 0.5)

In [16]:
from math import sqrt
predicted = np.dot(x, theta.T) + means.reshape(-1, 1)

# error de entrada
rmse = sqrt(np.nanmean(np.square(predicted - user_ratings.values)))
rmse

0.4597961309709565

In [ ]:
head