In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv('datasets/ml-latest-small/ratings.csv')
df.columns = ['user_id', 'movie_id', 'rating', 'timestamp']

df.head()

   user_id  movie_id  rating   timestamp
0        1        31     2.5  1260759144
1        1      1029     3.0  1260759179
2        1      1061     3.0  1260759182
3        1      1129     2.0  1260759185
4        1      1172     4.0  1260759205

In [4]:
ui_df = df.pivot(index='movie_id', columns='user_id', values='rating')

ui_df.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movie_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,4.0,NaN,...,NaN,4.0,3.5,NaN,NaN,NaN,NaN,NaN,4.0,5.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df = pd.read_csv('datasets/ml-20m/genome-tags.csv')

df.sample(10)

      tagId                   tag
128     129  better than expected
875     876               sarcasm
1007   1008                 talky
860     861                robots
477     478                 guilt
308     309                disney
342     343           educational
644     645        mental illness
933     934      so bad it's good
104     105          bank robbery

In [13]:
genome_scores = pd.read_csv('datasets/ml-20m/genome-scores.csv')
genome_scores

          movieId  tagId  relevance
0               1      1    0.02500
1               1      2    0.02500
2               1      3    0.05775
3               1      4    0.09675
4               1      5    0.14675
5               1      6    0.21700
6               1      7    0.06700
7               1      8    0.26275
8               1      9    0.26200
9               1     10    0.03200
10              1     11    0.57700
11              1     12    0.11625
12              1     13    0.18800
13              1     14    0.00800
14              1     15    0.03675
15              1     16    0.28175
16              1     17    0.00700
17              1     18    0.11050
18              1     19    0.67050
19              1     20    0.18450
20              1     21    0.33025
21              1     22    0.28250
22              1     23    0.05700
23              1     24    0.01550
24              1     25    0.08500
25              1     26    0.08100
26              1     27    0.19500
27              1     28    0.07150
28              1     29    0.89200
29              1     30    0.67625
...           ...    ...        ...
11709738   131170   1099    0.04400
11709739   131170   1100    0.52175
11709740   131170   1101    0.21300
11709741   131170   1102    0.08350
11709742   131170   1103    0.03425
11709743   131170   1104    0.70550
11709744   131170   1105    0.10600
11709745   131170   1106    0.01875
11709746   131170   1107    0.01100
11709747   131170   1108    0.30550
11709748   131170   1109    0.20875
11709749   131170   1110    0.47125
11709750   131170   1111    0.02100
11709751   131170   1112    0.02125
11709752   131170   1113    0.04800
11709753   131170   1114    0.15375
11709754   131170   1115    0.02700
11709755   131170   1116    0.31125
11709756   131170   1117    0.02600
11709757   131170   1118    0.04625
11709758   131170   1119    0.02000
11709759   131170   1120    0.02400
11709760   131170   1121    0.01500
11709761   131170   1122    0.04450
11709762   131170   1123    0.64375
11709763   131170   1124    0.58775
11709764   131170   1125    0.01075
11709765   131170   1126    0.01575
11709766   131170   1127    0.11450
11709767   131170   1128    0.02175

[11709768 rows x 3 columns]